{% extends "base.html" %}

{% block title %}{{block.super}}{% endblock %}

{% block content %}


<div class="videos">
<video autoplay muted loop id="myVideo">
	<source src="static/interactive_judge/trailer.mp4" type="video/mp4">
</video>
</div>

<script>
	var video = document.getElementById("myVideo");
	var btn = document.getElementById("myBtn");

	function myFunction() {
		if (video.paused) {
			video.play();
			btn.innerHTML = "Pause";
		} else {
			video.pause();
			btn.innerHTML = "Play";
		}
	}
</script>

{% endblock %}
