{% extends 'base.html' %}

{% block content%}


<div class="container">
  <p class="new-head">Practice Problems</p> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td> <a href="{% url 'problem_load' pk=problem.pk %}">{{ problem.prob_title }}</h3> </td>
        </tr>
            
        </div>
    {% endfor %}
      
    </tbody>
  </table>
</div>
<div style="margin:30px"></div>
    
{%endblock%}
