{% extends "base.html" %}

{% block title %}{{block.super}}{% endblock %}

{% block content %}


<div class= "container">
	<p class="new-head">  {{ problem.prob_title }} </p>
	<p> {{ problem.prob_description }} </p>

</div>
<div class = "container">
	<div class="form-group">
		<div id="editor"m class="ace-content">
		</div>
	</div>
</div>

<script>
	var frm = $('#submit_form');
	document.getElementById('code').value = document.getElementById('editor').value;
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: {frm.serialize() , csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                $("#SOME-DIV").html(data);
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    });
</script>
<form id = "submit_form" action="{% url 'submit' problem.id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="container">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
	<input id = "code" name = "user_solution" type="text" style="visibility: hidden;"/>
</form>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");

</script>


{% endblock %}
