@font-face 
{
    font-family: museosans;
    src: url(MuseoSans_500.otf);
}

body
{
    font-family: museosans !important;
}

.container
{
    width: 70%;
}

.new-nav
{
    background-color: #323754 !important;
}

.new-nav-heads
{
    font-weight: bold !important;
    padding: 0 20px !important;
    color: #f2f2f2 !important;
}

.new-head
{
    font-size: 25px;
    margin: 25px 0 20px 0;
}

.new-footer
{
    background-color: #323754 !important;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 10px;
    margin-top: 17px;
}
